<header>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZQVS83N61C"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-ZQVS83N61C');
  </script>
  <div class="header-container">
    <div class="logo">
      <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo Aceita Bitcoin?" style="width: 100px; height: auto; align-self: center;">
    </div>
    <nav>
      <ul>
        <li><a href="{{ url_for('serve_index') }}">Início</a></li>
        <li><a href="{{ url_for('serve_sobre') }}">Sobre nós</a></li>
        <li><a href="{{ url_for('serve_carteiras') }}">Carteiras Bitcoin</a></li>
        <li><a href="{{ url_for('serve_cadastro') }}">Cadastre seu estabelecimento</a></li>
        <li><a href="{{ url_for('serve_materiais') }}">Materiais</a></li>
        <li><a href="{{ url_for('serve_estabelecimentos') }}">Estabelecimentos</a></li>
      </ul>
    </nav>
  </div>
</header>